.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  background-color: black;
  width:100%;
}

.h1-test {
  color: white;
}

/* SIGNIN */
.div-signin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-signin {
  margin-top: 2em;
  color: white;
  font-size: 3em;
  font-family: 'Saira', sans-serif;
  font-weight: bold;
}
.h1-signin {
  text-align: center;
  color: white;
  margin-top: 1em;
  font-size: 1.5em;
  font-family: 'Saira', sans-serif;
  font-weight: bold;
}
.submit {
  margin-top: 1em;
}
.signin-form {
  align-items: center;
}
.input-signin {
  padding: 15px;
  border-radius: 99px;
  margin-top: 1em;
  display: block;
  text-align: center;
}
.sign-in-btn {
  width: 220px;
  margin-top: 2em;
  padding: 7px;
  border-radius: 20px;
  color:black;
  font-family: 'Saira', sans-serif;
  font-weight: bold;
}
.sign-in-btn:hover {
  color: black;
  -webkit-box-shadow:0px 0px 42px 5px rgba(245,46,255,0.84);
  -moz-box-shadow: 0px 0px 42px 5px rgba(245,46,255,0.84);
  box-shadow: 0px 0px 42px 5px rgba(245,46,255,0.84);
}
.signup-link {
  margin-top: 1.5em;
  color: white;
  
}

/* REGISTER */
.register-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}





/* NAVBAR */
.ham{
  color: white;
  background-color: white;
}
.title {
  color: white;
}
.audio {
  color: white;
}
.navbar {
  background-color: black;
}
.nav-item{
  text-decoration: none;
  margin-left: 1em;
  
}

/* SPOTIFY */
.sign-in-btn-search {
  width: 100px;
  margin-left: 3.8em;
  margin-top: 1.4em;
  padding: 7px;
  border-radius: 20px;
  color:black;
  -webkit-box-shadow:0px 0px 42px 5px rgba(245,46,255,0.84);
-moz-box-shadow: 0px 0px 42px 5px rgba(245,46,255,0.84);
box-shadow: 0px 0px 42px 5px rgba(245,46,255,0.84);
}
.sign-in-btn-search:hover {
  padding: 10px;
}
.logout-btn {
  width: 200px;
  padding: 6px;
  border-radius: 20px;
}
.container-spotify {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.after-search {
  margin-top: 1em;
  width: 300px;
}
.post-directions {
  margin-top: 1em;
  color: white;
  text-align: center;
}
.song-title{
  margin-top: .5em;
  color: white;
  display: block;
  text-align: center;
}
.album-img {
  width: 300px;
}
.album-img:hover{
  -webkit-box-shadow:0px 0px 42px 5px rgba(245,46,255,0.84);
  -moz-box-shadow: 0px 0px 42px 5px rgba(245,46,255,0.84);
  box-shadow: 0px 0px 42px 5px rgba(245,46,255,0.84);
}
/* ABOUT */
.about-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2em;
}
.h1-about {
  text-align: center;
  color: white;
  margin-bottom: 1em;
}



/* FEED */
.div-feed-container {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url("https://wallpaper.dog/large/20351168.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.post-card {
  margin: 2em;
}
.go-listen{
  margin-left: 1em;
}
.music-icon:hover {
  cursor: pointer;
}
.post-img-feed {
  width: 100px;
}
.audio-icon {
  color: white;
}
.like {
  color: white;
}
.comment {
  color: white;
}
.feeds {
  border: solid 1px red;
  display: flex;
}
.feed .head {
  display: flex;
}
.u-feed {
  text-align: center;
  font-family: 'Saira', sans-serif;
  font-weight: bold;
}
.card-feed {
  margin-right: 1.5em;
  background-color: #111;
  margin-top: 3em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 13rem;
  border-radius: 1em;
  padding: 1rem;
  align-items: center;
  transition: all 0.4s;
  cursor: pointer;
}
.card-feed:hover {
  -webkit-box-shadow:0px 0px 42px 5px rgba(245,46,255,0.84);
  -moz-box-shadow: 0px 0px 42px 5px rgba(245,46,255,0.84);
  box-shadow: 0px 0px 42px 5px rgba(245,46,255,0.84);
}
.circle {
  margin-top: .8em;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  background-color: rgb(50,233,50);
  display: grid;
  place-items: center;
  transform: scale(0.95);
}
.triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 18px solid black;
  transform: rotate(90deg);
}
.play-icon:hover .circle {
  cursor: pointer;
  transform: scale(1);
}
.post-text {
  text-align: center;
  margin-top: .8em;
  font-family: 'Saira', sans-serif;
  font-weight: bold;
}

/* PROFILE */
.profile-container {
  background-image: url("https://w0.peakpx.com/wallpaper/5/938/HD-wallpaper-purple-neon-waves-creative-abstract-art-neon-lines-neon-waves.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.prof-header {
  display: flex;
  color: white;
  margin-top: 3em;
  margin-bottom: 2em;
}
.post-h4{
  color: white;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.prof-post {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
