.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  background-color: black;
  width:100%;
}

/* SIGNIN */
.div-signin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}
.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-signin {
  margin-top: 2em;
  color: white;
  font-size: 3em;
}
.h1-signin {
  text-align: center;
  color: white;
  margin-top: 1em;
  font-size: 1.5em;
}
.submit {
  margin-top: 1em;
}
.signin-form {
  align-items: center;
}
.input-signin {
  padding: 15px;
  border-radius: 99px;
  margin-top: 1em;
  display: block;
  text-align: center;
}
.sign-in-btn {
  width: 220px;
  margin-top: 2em;
  padding: 7px;
  border-radius: 20px;
  color:black;
  -webkit-box-shadow:0px 0px 42px 5px rgba(245,46,255,0.84);
-moz-box-shadow: 0px 0px 42px 5px rgba(245,46,255,0.84);
box-shadow: 0px 0px 42px 5px rgba(245,46,255,0.84);
}
.sign-in-btn:hover {
  color: black;
  padding: 10px;
}
.signup-link {
  margin-top: 1.5em;
  color: white;
  
}

/* REGISTER */
.register-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}





/* NAVBAR */
.ham{
  color: white;
  background-color: white;
}
.title {
  color: white;
}
.audio {
  color: white;
}
.navbar {
  background-color: black;
}
.nav-item{
  text-decoration: none;
  margin-left: 1em;
  
}

/* SPOTIFY */
.sign-in-btn-search {
  width: 100px;
  margin-left: 3.8em;
  margin-top: 1.4em;
  padding: 7px;
  border-radius: 20px;
  color:black;
  -webkit-box-shadow:0px 0px 42px 5px rgba(245,46,255,0.84);
-moz-box-shadow: 0px 0px 42px 5px rgba(245,46,255,0.84);
box-shadow: 0px 0px 42px 5px rgba(245,46,255,0.84);
}
.sign-in-btn-search:hover {
  padding: 10px;
}
.logout-btn {
  width: 200px;
  padding: 6px;
  border-radius: 20px;
}
.container-spotify {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.after-search {
  margin-top: 1em;
  width: 300px;
}
.post-directions {
  margin-top: 1em;
  color: white;
  text-align: center;
}
.song-title{
  margin-top: .5em;
  color: white;
  display: block;
  text-align: center;
}
.album-img {
  width: 300px;
}
.album-img:hover{
  -webkit-box-shadow:0px 0px 42px 5px rgba(245,46,255,0.84);
  -moz-box-shadow: 0px 0px 42px 5px rgba(245,46,255,0.84);
  box-shadow: 0px 0px 42px 5px rgba(245,46,255,0.84);
}
/* ABOUT */
.about-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 2em;
}
.h1-about {
  text-align: center;
  color: white;
  margin-bottom: 1em;
}



/* FEED */
.post-div {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-image: url("https://wallpaper.dog/large/20351168.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.post-card {
  margin: 2em;
}
.go-listen{
  margin-left: 1em;
}
.music-icon:hover {
  cursor: pointer;
}


/* PROFILE */
.profile-container {
  background-image: url("https://w0.peakpx.com/wallpaper/5/938/HD-wallpaper-purple-neon-waves-creative-abstract-art-neon-lines-neon-waves.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.prof-header {
  display: flex;
  color: white;
  margin-top: 3em;
  margin-bottom: 2em;
}
.post-h4{
  color: white;
}
.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.prof-post {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
